<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446313570602-fpijet43kcvdqnu512f1bcakocf552np.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446313570602-fpijet43kcvdqnu512f1bcakocf552np</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>446313570602-06trb4afob9p2qh35lr55skdhn6lg4m8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC2-Kh8YjdZrp68G3WEwBQ-oVZRBczcCoM</string>
	<key>GCM_SENDER_ID</key>
	<string>446313570602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xaveyn.CodeTalks</string>
	<key>PROJECT_ID</key>
	<string>codetalks-66ea0</string>
	<key>STORAGE_BUCKET</key>
	<string>codetalks-66ea0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446313570602:ios:88356b9bfaaf91daa2be53</string>
</dict>
</plist>